@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


ul {
    list-style-type: none;
    margin: 0;
    margin-top: -30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
}

li {
    float: left;
    padding: auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;

}

h1 {

    text-align: center;
    font-family: Abril Fatface;
    padding-bottom: 10px;

}

body {

    background-color: #eee;
    font-family: Source Sans Pro;

}

h2,
h4 {

    font-family: Roboto Slab;
}

.banner-img {

    width: 75%;
    height: auto;

}

main p {
    text-align: justify;
    color: #dd3232;

}

.newspaper-container {
    background-color: white;
    box-shadow: 20px 10px 10px #ddd;
}

.content-padding {

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.nav-lock {


    position: sticky;
    top: 0;
    width: 100%;
}

header {
    background-color: white;
}